{% extends "bases/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<div class="container main-container">
	{% if messages %}
	<div class="auth-msg">
		<div class="text-center">
			{% for message in messages %}
			<div class="alert alert-info alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				{{message}}
			</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}
	
	{% block sub_content %}
	{% endblock %}
</div>
{% endblock %}