{% extends "account/base_auth.html" %}

{% load i18n %}
{% load account %}

{% block title %}{% trans "Confirm E-mail Address" %}{% endblock %}

{% block sub_content %}
<div class="login-panel panel panel-default center-block">
	<div class="panel-body">
		<div class="login-title text-center">{% trans 'Confirm E-mail Address' %}</div>
		{% if confirmation %}
		{% user_display confirmation.email_address.user as user_display %}
		<p class="minor-text">{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>
		<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
			{% csrf_token %}
			<button type="submit" class="btn btn-primary btn-block">{% trans 'Confirm' %}</button>
		</form>
		{% else %}
		{% url 'account_email' as email_url %}
		<p class="minor-text">{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
		{% endif %}
	</div>
</div>
{% endblock %}
