{% extends "account/base_auth.html" %}

{% load i18n %}
{% load bootstrapcss %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block sub_content %}
<div class="login-panel panel panel-default center-block">
    <div class="panel-body">
        <div class="login-title text-center">{% trans 'Password Reset' %}</div>
        <p class="minor-text">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
        <form method="post" action="{% url 'account_reset_password' %}">
            {% csrf_token %}
            <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                {{ form.email | addclass:'form-control' }}
                {% if form.email.errors %}<span class="help-block">{{ form.email.errors }}</span>{% endif %}
            </div>
            {% if form.non_field_errors %}
            <div class="form-group login-error alert alert-danger" role="alert">
                {{ form.non_field_errors }}
            </div>
            {% endif %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">{% trans "Reset My Password" %}</button>
            </div>
        </form>
    </div>
</div>
<p class="text-center minor-text">
    {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
</p>
{% endblock %}
