{% extends "account/base_auth_2cols.html" %}
{% load i18n %}
{% load bootstrapcss %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block left_side %}
<div class="panel panel-default">
	<div class="panel-heading">{% trans "Set Password" %}</div>
	<div class="panel-body">
		<form method="post" action="{% url 'account_set_password' %}">
			{% csrf_token %}
			<div class="form-group {% if form.password1.errors %}has-error{% endif %}">
				{{ form.password1 | addclass:'form-control' }}
				{% if form.password1.errors %}<span class="help-block">{{ form.password1.errors }}</span>{% endif %}
			</div>
			<div class="form-group {% if form.password2.errors %}has-error{% endif %}">
				{{ form.password2 | addclass:'form-control' }}
				{% if form.password2.errors %}<span class="help-block">{{ form.password2.errors }}</span>{% endif %}
			</div>
			{% if form.non_field_errors %}
			<div class="form-group login-error alert alert-danger" role="alert">
				{{ form.non_field_errors }}
			</div>
			{% endif %}
			<button type="submit" class="btn btn-primary btn-default">{% trans "Set Password" %}</button>
		</form>
	</div>
</div>
{% endblock %}

{% block right_side %}
{% include 'widget/w_settings_menu.html' with active_password=True %}
{% endblock %}