{% extends "account/base_auth.html" %}

{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block sub_content %}
<div class="login-panel panel panel-default center-block">
    <div class="panel-body">
        <div class="login-title text-center">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</div>
        {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p class="minor-text">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
        {% else %}
        {% if form %}
        <form method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-block">{% trans 'Change Password' %}</button>
        </form>
        {% else %}
        <p class="minor-text">{% trans 'Your password is now changed.' %}</p>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
